* {
    margin: 0;
    padding: 0;
    color: white;
}

.logoFace {
    height: 25px;
}

button {
    background-color: #1d44bb;
    color: white;
    padding: 10px 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    align-items: center;
    border: 2px solid grey;
    margin: 10px;
    width: 400px;
    height: 1000px;
}

.logoInst {
    height: 150px;
    width: 150px;
}

p {
    color: gray;
    align-items: center;
}

a {
    color: #1d44bb;
}

span {
    color: gray;
    margin: 3px;
}

.face {
    margin: 10px;
}

input {
    color: black;
    padding: 10px;
    border: 10px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}

input.vazio {
    border: 2px solid red;
    background-color: #ffcccc;
}
